/* HTML Reset and custom local font config */

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

@font-face {
    font-family: 'Outfit';
    src: url('/static/font/outfit.ttf') format('truetype');
    font-weight: 100 900;
}

:root {
    --color-background: #FAF2E6;
    --color-foreground: #EEE7DD;
    --color-foreground-over: #e1dbd3;
    --color-navbar: #68482b;
    --color-foreground-muted: #a37e51;
    --color-primary: #C86F17;

    --color-danger: #da5c5c;

    --color-error: #f8d7da;
    --color-error-foreground: #721c24;
    --color-error-border: #f5c6cb;

    --color-warning: #C86F17;
    --color-warning-foreground: #C86F17;
    --color-warning-border: #C86F17;

    --color-info: #d1ecf1;
    --color-info-foreground: #0c5460;
    --color-info-border: #bee5eb;

    --color-success: #d4edda;
    --color-success-foreground: #155724;
    --color-success-border: #c3e6cb;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: var(--color-background);
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.message {
    padding: 12px;
    border-radius: 5px;
}

.message.success {
    background-color: var(--color-success);
    color: var(--color-success-foreground);
    border: 1px solid var(--color-success-border);
}

.message.error {
    background-color: var(--color-error);
    color: var(--color-error-foreground);
    border: 1px solid var(--color-error-border);
}

.message.info {
    background-color: var(--color-info);
    color: var(--color-info-foreground);
    border: 1px solid var(--color-info-border);
}

.shadow {
    box-shadow: 3px 3px black;
    border: 2px solid black;
    border-radius: 10px;
}

.shadow-sm {
    box-shadow: 1.5px 1.5px black;
    border: 2px solid black;
    border-radius: 10px;
}

.rounded {
    border-radius: 10px !important;
}

.empty-button-muted {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a37e51;
    background-color: transparent;
    border: 2px solid #a37e51;
    border-radius: 8px;
    min-width: 25px;
    height: 25px;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
    gap: 0.25rem;
    text-decoration: none;
}

.empty-button-muted:hover {
    background-color: #a37e51;
    color: white;
}

.empty-button-primary {
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.empty-button-primary:hover {
    background-color: var(--color-primary);
    color: white;
}

.empty-button-red {
    display: flex;
    justify-content: center;
    color: var(--color-danger);
    background-color: transparent;
    border: 2px solid var(--color-danger);
    border-radius: 8px;
    min-width: 25px;
    height: 25px;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
    gap: 0.25rem;
    align-items: center;
    text-decoration: none;
}

.empty-button-red:hover {
    background-color: var(--color-danger);
    color: white;
}

a:hover > img {
    filter: brightness(1000%);
}

button:hover > img {
    filter: brightness(1000%);
}

.gap-sm {
    gap: 1rem !important;
}

.text-gray {
    color: #7e7e7e;
}